/*Videos style start*/
.videos{
	width: 100%;
}
.videos__wrapper{
	max-width: 1440px; /*ограничили ширину*/
	margin: 0 auto; /*выровняли по центру*/
	position: relative; /*родитель для элемента с position: absolute;*/
}
.video__item{
	/*высота pd-t расчитывается относительно ширины блока, для адаптивной верстки видео, для сохранения пропорций 16х9, чтобы убрать полосы у видео*/
	padding-top: 56.25%; /*расчет при 16=100%, 9=х%*/
}
.video__element{
	position: absolute; /*выравнивает по родителю у которого position: relative*/
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*Videos style end*/