/*Intro style start*/
.intro{
	min-height: 100vh; /*высота = 100% высоты экрана, для последующей адаптивности*/
	background: url(../../img/intro-bg.jpg) no-repeat center; /*не будет повторяться и по центру*/
	background-size: cover; /*картинка будет покрывать блок при любых его размерах*/
	padding-top: 263px;
	padding-bottom: 323px; /*обезопасили контент заголовка benefits от перекрытия контентом intro*/
}
.intro__title{
	max-width: 619px;
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;
	margin-bottom: 22px; /*отступ между элементами*/
}
.intro__subtitle{
	max-width: 546px;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 59px;
}
.search-form__info{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.search-form__field{
	width: 297px;
	/*background-color: transparent; - обнуление background-color, при этом можно передавать сразу в background*/
	background: transparent url(../../img/svg/circle-icon.svg) no-repeat left 6px;
	background-size: 20px;
	border: 0;
	border-bottom: 2px solid #BFC0C5;
	margin-right: 60px; /*отступы между элементами*/
	padding-left: 43px;
	padding-bottom: 22px;
	font-weight: 500;
	font-size: 18px;
	color: white;
}
.search-form__field::-webkit-input-placeholder{
	font-weight: 500;
	font-size: 18px;
	color: white;
}
.search-form__field::-moz-placeholder{
	font-weight: 500;
	font-size: 18px;
	color: white;
}
.search-form__field:-ms-input-placeholder{
	font-weight: 500;
	font-size: 18px;
	color: white;
}
.search-form__field::-ms-input-placeholder{
	font-weight: 500;
	font-size: 18px;
	color: white;
}
.search-form__field::placeholder{
	font-weight: 500;
	font-size: 18px;
	color: gray	;
}
.search-form__submite{
	padding: 15px 39px;
	text-transform: uppercase;/*текст заглавными буквами*/
	font-weight: 500;
	font-size: 24px;
	color: white;
	background: #1B7DFF;
	border: 0;
}
/*эффекты для кнопки*/
.search-form__submite:hover, .search-form__submite:focus, .search-form__submite:active{
	background: #0b73f1;
}
/*Intro style end*/

@media screen and (max-width: 960px) {
	.search-form__field{
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 767px) {
	.intro{
		padding-top: 125px;
	}
	.intro__title{
		font-size: 32px;
		line-height: 48px;
	}
	.intro__subtitle{
		font-size: 14px;
	}

	.search-form__field{
		width: 100%;
		margin-right: 0;
		padding-bottom: 12px;
		background: transparent url(../../img/svg/circle-icon.svg) no-repeat left 2px;
	}
	.search-form__field::-webkit-input-placeholder{
		font-size: 16px;
	}
	.search-form__field::-moz-placeholder{
		font-size: 16px;
	}
	.search-form__field:-ms-input-placeholder{
		font-size: 16px;
	}
	.search-form__field::-ms-input-placeholder{
		font-size: 16px;
	}
	.search-form__field::placeholder{
		font-size: 16px;
	}
	.search-form__submite{
		width: 100%;
	}

}