/*Top places style start*/
.top{
	margin-bottom: 86px;
}
.top__title{
	margin-bottom: 54px;
}
.top__cards{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr 57px 1fr;
	grid-template-columns: repeat(6, 1fr);
	-webkit-column-gap: 57px;
	   -moz-column-gap: 57px;
	        column-gap: 57px; /*расстояние между grid*/
	row-gap: 57px;
}
.top__card-pic{
	position: relative;
	margin-bottom: 45px;
}
.top__card{ /*для изменения оси распределения элементов*/
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-grid-column-span: 2;
	grid-column: span 2;
}
.top__card-stats{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(21, 24, 36, 0.6);
	padding: 16px 25px;
}
.top__card-title{
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	margin: 0 auto 0 0;
}
.top__card-likes{
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding-right: 20px;
	background: url(../../img/svg/heart-ico.svg) no-repeat right; /*можно через псевдоэлемент*/
	margin-right: 14px;
}
.top__card-comments{
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	padding-right: 23px;
	background: url(../../img/svg/comment-ico.svg) no-repeat right;
}
.top__card-desc{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 31px;
}
.top__card-more{
	width: 118px; /*можно flex-basis: px;, но в данном случаи мы изменили ось распределения элементов, потому через width*/
	padding: 12px 19px; /*сверху-снизу 12, справа-слева 19*/
	background-color: #006DFE;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 19px;
	margin: auto 0 0 0; /*для расположения кнопки всегда снизу, вне зависимости от текста*/
}
.top__card-more:hover, .top__card-more:focus, .top__card-more:active{
	background: #0b73f1;
}
/*Top places style end*/

@media screen and (max-width: 960px) {
	.top__cards{
		-webkit-column-gap: 25px;
		   -moz-column-gap: 25px;
		        column-gap: 25px;
		row-gap: 55px;
	}
	.top__card{
		-ms-grid-column-span: 3;
		grid-column: span 3;
	}
	.top__card-pic{
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 767px) {
	.top{
		margin-bottom: 76px;
	}
	.top__card{
		-ms-grid-column-span: 6;
		grid-column: span 6;
	}
	.top__card-desc{
		margin-bottom: 15px;
	}
}